<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="BookHive-root-main/includes/connect.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="BookHive Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
